export EMAIL_HOST_USER=<love01052309@gmail.com>
export EMAIL_HOST_PASSWORD=<Dolynhan0105>
export SECRET_KEY=<>
export SOCIAL_SECRET=<>
export GOOGLE_CLIENT_ID=<>
export GOOGLE_CLIENT_SECRET=<>
export TWITTER_API_KEY=<>
export TWITTER_CONSUMER_SECRET=<>
export FRONTEND_URL=<>
export APP_SCHEME=<>
